@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

body {
  margin: auto;
  background-color: navy;
  background-image: linear-gradient(170deg, #580055, #12024E);
  min-height: 100vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

ul{
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  word-spacing: 10px;
  letter-spacing: 1px;
}

a {
  cursor: pointer;
  color: white;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.outer-container {
  padding: 10px 60px;
}

header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  display: inline-block;
  vertical-align: top;
  color: white;
  margin: 15px 30px 0 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.nobold {
  font-weight: normal;
  display: inline-block;
}

.menu {
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.menu a:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.menu > span > a {
  margin-right: 10px;
}

main {
  margin: 0 auto;
  margin-top: 9vh;
}

.title-2nd-word {
  font-weight: 200;
  font-style: normal;
}

video{
  max-width: 1567px;
  width: 100%;
  height: auto;
}

.video-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  overflow: hidden;
}

.video-screen {
  margin-bottom: 2rem;
}

.black-box {
  background-color: black;
  height: 480px;
  max-width: 1724px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.video-hidden {
  display: none;
}

.video-buttons {
  text-align: center;
  width: 100%;
}

.video-buttons button {
  height: 3.5rem;
  width: 3.5rem;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25%;
  color: white;
  font-size: 23px;
  margin: .3rem 0 0 .1rem;
}

.video-buttons button:hover {
  border-width: 2px;
}

.video-buttons > button:hover:nth-child(1) {
  border-color: purple;
}

.video-buttons > button:hover:nth-child(2) {
  border-color: green;
}

.video-buttons > button:hover:nth-child(3) {
  border-color: red;
}

.video-buttons > button:hover:nth-child(4) {
  border-color: yellow;
}

.video-buttons > button:hover:nth-child(5) {
  border-color: blue;
}

.video-buttons > button:hover:nth-child(6) {
  border-color: greenyellow;
}

.video-buttons > button:hover:nth-child(7) {
  border-color: rgb(186, 59, 218);
}

.video-buttons > button:hover:nth-child(8) {
  border-color: lime;
}

.video-buttons > button:hover:nth-child(9) {
  border-color: darkgoldenrod;
}

.video-buttons > button:hover:nth-child(10) {
  border-color: lightsalmon;
}

.video-buttons > button:hover:nth-child(11) {
  border-color: mediumturquoise;
}

.video-buttons > button:hover:nth-child(12) {
  border-color: orangered;
}

.video-buttons > button:hover:nth-child(13) {
  border-color: olivedrab;
}

.video-buttons > button:hover:nth-child(14) {
  border-color: rgb(218, 215, 59);
}

.video-buttons > button:hover:nth-child(15) {
  border-color: rgb(167, 26, 73);
}

.progress-bar {
  margin: 3rem auto;
  width: 80%;
  height: 10rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.progress-bar::-webkit-scrollbar:vertical{
  display: none;
}

.progress-bar::-webkit-scrollbar-track
{
	background-color: transparent;
}

.progress-bar::-webkit-scrollbar
{
	width: 6px;
  background: transparent;
  border: 1px darkgray solid;
  border-radius: 10px;
  margin-top: -10px;
}

.progress-bar::-webkit-scrollbar-thumb
{
  background-color: #C59AF0;
  border-radius: 10px;
}


.time-stamps {
  display: inline-block;
  width: 150px;
  height: 25%;
  margin-right: -5px;
  border: 1px solid transparent;
  transform: translateX(-10%);
}

.time-stamps:first-child {
  transform: translateX(1%);
}

.time-stamp-last {
  margin-right: 0;
  transform: translateX(0);
}

.time-stamps > span {
  float: right;
}

/* .control-outlet-box {
  border: 1px solid darkgray;
} */


.test-point-box {
  position: relative;;
  top: -78px;
}

.point-container {
  display: flex;
}
/* 150px == 10sec
  Przycisk ma łącznie 10px na ramkę zatem potrzebuje 140px na 10sec
*/
.test-point {
  display: flex;
  width: 140px;
  height: 40px;
  border: 5px solid red;
  border-radius: 20px;
  margin-left: 1px;

}

.test-point>button {
  margin: auto;
}

.control-outlet {
  display: inline-block;
  width: 150px;
  height: 70%;
  /* border-left: 1px solid darkgrey; */
  margin-right: -4px;
  border: 1px solid darkgrey;
  border-right: 0px;
  z-index: -1;
}

.first-outlet {
  border-radius: 10px 0 0 10px;
}

.last-outlet {
  border: 1px solid darkgrey;
  border-radius: 0 10px 10px 0;
}


.logo-OMN {
  display: inline-block;
  min-height: 78px;
  min-width: 364px;
  margin-top: 8rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
}

.contact-info-box {
  margin-top: 7.5rem;
  width: 70%;
}

.info-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: bold;
  text-transform: uppercase;
}

.info-copyright {
  float: right;
  font-size: .8rem;
}
.contact-info-box .info-contact {
  display: inline-block;
  /* margin-left: -35px; */
}

.contact-info-box .info-contact ul {
  list-style-type: none;
  margin: .6rem 1rem 0 0;
  padding: 0;
}

.contact-info-box .project-author {
  float: right;
  margin-top: .6rem;
  font-size: .9rem;
  font-weight: 500;
}

footer {
  background-color: white;
  margin-top: 2.5rem;
  padding: 1rem 0 1rem 0;
}

footer .partners {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer .partners > div {
  /* margin-right: 10px; */
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .contact {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1160px) {
  header {
    flex-direction: column;
  }
}

@media screen and (max-width: 857px) {
  .contact-info-box .project-author {
    display: inline-block;
    float: none;
  }
}

@media screen and (max-width: 700px) {
  header{
    flex-wrap: wrap;
  }

  .menu{
    margin-top: 25px;
    width: 140px;
    flex-wrap: wrap;
  }

  .menu > a {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 540px) {
  footer .partners > div {
    padding-bottom: 20px;
  }
}


  