body {
  background-color: navy;
  background-image: linear-gradient(170deg, #580055, #12024E);
  min-height: 100vh;
  color: white;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  word-spacing: 10px;
  letter-spacing: 1px;
}

a {
  cursor: pointer;
  color: white;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.outer-container {
  padding: 20px 60px;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.project-name {
  display: inline-block;
  vertical-align: top;
  color: white;
  margin: 15px 30px 0 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.nobold {
  font-weight: normal;
  display: inline-block;
}

.menu {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  background: none;
  box-shadow: none;
  padding: 0;
}

.menu > ul {
  margin: .4rem 0 .8rem .8rem;
}

.menu > ul > li {
  display: inline;
  line-height: 1.7;
  margin-left: 2.5rem;
}

.menu a:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.social-links-menu > li {
  display: inline;
  line-height: 1.7;
  margin-left: 2.5rem;
}

.social-links-menu {
  display: inline-block;
}

.social-links-menu > li:nth-child(2) {
  margin-left: 1rem;
}

main {
  margin: 0 auto;
  margin-top: 9vh;
}

.title-2nd-word {
  font-weight: 200;
  font-style: normal;
}

video{
  object-fit: cover;
}

.video-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  overflow: hidden;
}

.video-screen {
  margin-bottom: 2rem;
}

.black-box {
  background-color: black;
  height: 480px;
  max-width: 1724px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.video-hidden {
  display: none;
}

.video-buttons {
  text-align: center;
  width: 100%;
}

.video-buttons > button {
  height: 2.8rem;
  width: 2.8rem;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25%;
  color: white;
  font-size: 23px;
  margin: .3rem 0 0 .1rem;
}

.video-buttons > button:hover {
  border-width: 2px;
}

.video-buttons > button:hover:nth-child(1) {
  border-color: purple;
}

.video-buttons > button:hover:nth-child(2) {
  border-color: green;
}

.video-buttons > button:hover:nth-child(3) {
  border-color: red;
}

.video-buttons > button:hover:nth-child(4) {
  border-color: yellow;
}

.video-buttons > button:hover:nth-child(5) {
  border-color: blue;
}

.video-buttons > button:hover:nth-child(6) {
  border-color: greenyellow;
}

.video-buttons > button:hover:nth-child(7) {
  border-color: rgb(186, 59, 218);
}

.logo-OMN {
  display: inline-block;
  min-height: 78px;
  min-width: 364px;
  margin-top: 8rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info-box {
  margin-top: 7.5rem;
}


.info-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: bold;
  text-transform: uppercase;
}

.info-copyright {
  float: right;
  font-size: .6rem;
}
.contact-info-box .info-contact {
  display: inline-block;
}

.contact-info-box .info-contact ul {
  list-style-type: none;
  line-height: .8rem;
  margin: .6rem 1rem 0 0;
}

.contact-info-box .project-author {
  float: right;
  margin-top: .6rem;
  font-size: .7rem;
}

footer {
  background-color: white;
  margin-top: 4rem;
  padding: 2rem 0 2rem 0;
}

footer .partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding: 0; */
  /* padding-top: 20px; */
}

footer .partners > div {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .contact-info-box .project-author {
    float: left;
  }
}

@media screen and (max-width: 540px) {
  footer .partners > div {
    padding-bottom: 20px;
  }
}