@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');

:root{
  --progres_bar_width: 15px;
}

body {
  margin: auto;
  background-color: navy;
  background-image: linear-gradient(170deg, #580055, #12024E);
  min-height: 100vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

ul{
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  word-spacing: 10px;
  letter-spacing: 1px;
}

a {
  cursor: pointer;
  color: white;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.outer-container {
  padding: 40px 60px;
}

header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  display: inline-block;
  vertical-align: top;
  color: white;
  margin: 15px 30px 0 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.nobold {
  font-weight: normal;
  display: inline-block;
}

.menu {
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.menu a:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.menu > span > a {
  margin-right: 10px;
}

main {
  margin: 0 auto;
  margin-top: 9vh;
}

.title-2nd-word {
  font-weight: 200;
  font-style: normal;
}

video{
  max-width: 1567px;
  width: 100%;
  height: auto;
}

.video-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  overflow: hidden;
}

.video-screen {
  margin-bottom: 2rem;
}

.black-box {
  background-color: black;
  height: 440px;
  max-width: 1567px;
  /* max-width: 1724px; */
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.video-hidden {
  display: none;
}

.video-buttons {
  text-align: center;
  width: 100%;
  margin: auto;
}

.video-buttons > span {
  display: block;
  transform: translateX(25px);
} 

.video-buttons button {
  height: 3.5rem;
  width: 3.5rem;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 25%;
  color: white;
  font-size: 23px;
  margin: .8rem 0 0 .5rem;
}

.video-buttons button:hover {
  border-width: 2px;
}

.video-buttons > button:nth-child(1) {
  border-color: purple;
}

.video-buttons > button:nth-child(2) {
  border-color: green;
}

.video-buttons > button:nth-child(3) {
  border-color: red;
}

.video-buttons > button:nth-child(4) {
  border-color: yellow;
}

.video-buttons > button:nth-child(5) {
  border-color: blue;
}

.video-buttons > button:nth-child(6) {
  border-color: greenyellow;
}

.video-buttons > button:nth-child(7) {
  border-color: rgb(186, 59, 218);
}

.video-buttons > button:nth-child(8) {
  border-color: lime;
}

.video-buttons > button:nth-child(9) {
  border-color: darkgoldenrod;
}

.video-buttons > span > button:nth-child(1) {
  border-color: lightsalmon;
}

.video-buttons > span > button:nth-child(2) {
  border-color: mediumturquoise;
}

.video-buttons > span > button:nth-child(3) {
  border-color: orangered;
}

.video-buttons > span > button:nth-child(4) {
  border-color: olivedrab;
}

.video-buttons > span > button:nth-child(5) {
  border-color: rgb(167, 26, 73);
}

.vid-num-01 {
  border-color: purple;
  width: calc(var(--progres_bar_width) * 33 - 10px);
}

.vid-num-02 {
  border-color: green;
  width: calc(var(--progres_bar_width) * 26 - 10px);
}

.vid-num-03 {
  border-color: red;
  width: calc(var(--progres_bar_width) * 30 - 10px);
}

.vid-num-04 {
  border-color: yellow;
  width: calc(var(--progres_bar_width) * 24 - 10px);
}

.vid-num-05 {
  border-color: blue;
  width: calc(var(--progres_bar_width) * 17 - 10px);
}

.vid-num-06 {
  border-color: greenyellow;
  width: calc(var(--progres_bar_width) * 22 - 10px);
}

.vid-num-07 {
  border-color: rgb(186, 59, 218);
  width: calc(var(--progres_bar_width) * 25 - 10px);
}

.vid-num-08 {
  border-color: lime;
  width: calc(var(--progres_bar_width) * 14 - 10px);
}

.vid-num-09 {
  border-color: darkgoldenrod;
  width: calc(var(--progres_bar_width) * 20 - 10px);
}

.vid-num-10 {
  border-color: lightsalmon;
  width: calc(var(--progres_bar_width) * 12 - 10px);
}

.vid-num-11 {
  border-color: mediumturquoise;
  width: calc(var(--progres_bar_width) * 15 - 10px);
}

.vid-num-12 {
  border-color: orangered;
  width: calc(var(--progres_bar_width) * 13 - 10px);
}

.vid-num-13 {
  border-color: olivedrab;
  width: calc(var(--progres_bar_width) * 21 - 10px);
}

.vid-num-14 {
  border-color: rgb(167, 26, 73);
  width: calc(var(--progres_bar_width) * 10 - 10px);
}

.video-control-buttons { 
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
  align-items: center;
  max-width: 200px;
}

.video-control-buttons > svg{
  opacity: 0.7;
}

.video-control-buttons > svg:hover{
  opacity: 1;
}

.progress-bar {
  margin: 3rem auto;
  width: 80%;
  height: 10rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.progress-bar::-webkit-scrollbar:vertical{
  display: none;
}

.progress-bar::-webkit-scrollbar-track
{
	background-color: transparent;
}

.progress-bar::-webkit-scrollbar
{
	width: 6px;
  background: transparent;
  border: 2px darkgray solid;
  border-top: 2px solid rgba(169, 169, 169, 0);
  border-radius: 0 0 10px 10px;
  margin-top: -10px;
}

.progress-bar::-webkit-scrollbar-thumb
{
  background-color: #C59AF0;
  border-radius: 10px;
}

.time-stamps {
  display: inline-block;
  width: 149px;
  height: 25%;
  margin-right: -5px;
  border: 1px solid transparent;
  transform: translateX(-10%);
}

.time-stamps:first-child {
  transform: translateX(1%);
}

.time-stamp-last {
  margin-right: 0;
  transform: translateX(11px);
}

.time-stamps > span {
  float: right;
}

/* .control-outlet-box {
  border: 1px solid darkgray;
} */


.test-point-box {
  position: relative;;
  /* top: -78px; */
}

.point-container {
  position: absolute;
  width: 100%;
  left: -9001px;
  top: -60px;
}

.point-container:first-child {
  margin-left: 1px;
}
/* 150px == 10sec
  Przycisk ma łącznie 10px na ramkę zatem potrzebuje 140px na 10sec
*/
.test-point {
  display: inline-block;
  /* width: 140px; */
  height: 40px;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  z-index: 1;
}


.element-control-buttons{
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  filter: opacity(0);
}

.element-control-buttons:hover {
  filter: opacity(100%);
}

.test-point:first-child > .element-control-buttons > button:first-child { 
  filter: opacity(0);
}

.test-point:last-child > .element-control-buttons > button:last-child { 
  filter: opacity(0);
}

.element-control-buttons>button {
  margin: auto;
  width: 30px;
  height: 30px;
  background: url(media/deleteBtn.png) no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transform: translateY(5px);
}

.element-control-buttons>button:first-child {
  background: url(media/backBtn.png) no-repeat;
  transform: translateY(7px);
}

.element-control-buttons>button:last-child {
  background: url(media/forwardBtn.png) no-repeat;
  transform: translateY(7px);
}

.control-outlet {
  display: inline-block;
  width: 149px;
  height: 70%;
  margin-right: -4px;
  border: 2px solid darkgrey;
  border-left: 1px solid rgba(169, 169, 169, 0.56);
  border-right: 0px;
  border-bottom-color: rgba(169, 169, 169, 0.56);
  z-index: -1;
}

.first-outlet {
  border: 2px solid darkgrey;
  border-right: 0px;
  border-radius: 10px 0 0 0px;
  border-bottom-color: rgba(169, 169, 169, 0.56);

}

.last-outlet {
  border: 2px solid darkgrey;
  border-left: 1px solid rgba(169, 169, 169, 0.56);
  border-radius: 0 10px 0px 0;
  border-bottom-color: rgba(169, 169, 169, 0.56);

}


.logo-OMN {
  display: inline-block;
  min-height: 78px;
  min-width: 364px;
  margin-top: 8rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
}

.contact-info-box {
  margin-top: 7.5rem;
  width: 70%;
}

.info-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: bold;
  text-transform: uppercase;
}

.info-copyright {
  float: right;
  font-size: .8rem;
}
.contact-info-box .info-contact {
  display: inline-block;
  /* margin-left: -35px; */
}

.contact-info-box .info-contact ul {
  list-style-type: none;
  margin: .6rem 1rem 0 0;
  padding: 0;
}

.contact-info-box .project-author {
  float: right;
  margin-top: .6rem;
  font-size: .9rem;
  font-weight: 500;
}

footer {
  background-color: white;
  margin-top: 2.5rem;
  padding: 1rem 0 1rem 0;
}

footer .partners {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer .partners > div {
  /* margin-right: 10px; */
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .contact {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1160px) {
  header {
    flex-direction: column;
  }
}

@media screen and (max-width: 857px) {
  .contact-info-box .project-author {
    display: inline-block;
    float: none;
  }
}

@media screen and (max-width: 700px) {
  header{
    flex-wrap: wrap;
  }

  .menu{
    margin-top: 25px;
    width: 140px;
    flex-wrap: wrap;
  }

  .menu > a {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 540px) {
  footer .partners > div {
    padding-bottom: 20px;
  }
}


  